@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    background: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



#header {
    color: #ffd700;
    margin-bottom: auto;
    text-align: center;
    font-size: 2vh;
}

#content {
    position: relative;
    text-align: center;
}

#footer {
    color: #ffd700;
    margin-top: auto;
    text-align: center;
    font-size: xx-large;
}

.CDContainer{
    position: absolute;
    top: 25%;
    left: 35%;
}
.Poster{
    width: 45%;
}

.CDText{
    color:#ffd700;;
    font-size:10vw;
    font-weight: bold;
    text-align: center;
    margin:0;
}

@media only screen and (max-width: 500px) {
    .CDContainer{
        position: absolute;
        top: 25%;
        left: 18%;
    }
    .Poster{
        width: 100%;
    }
    .CDText{
        font-size:22vw;
    }
    #footer {
        font-size: large;
    }
}



